<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete user</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <div class="form">
      <form action="/delete" method="POST">
        <fieldset class="fieldset">
          <legend class="title">From delete user</legend>
          <div class="hidden">
            <input
              type="text"
              class="input-item"
              name="id"
              value="<%=user.id %>"
            />
          </div>
          <div class="input">
            <span class="title-item">
              <label>Email:</label>
            </span>
            <input
              class="input-item"
              type="email"
              placeholder="Enter your email"
              name="email"
              value="<%=user.email %>"
            />
          </div>
          <div class="input">
            <span class="title-item">
              <label>Name:</label>
            </span>
            <input
              class="input-item"
              type="text"
              placeholder="Enter your name"
              value="<%=user.name %>"
              name="name"
            />
          </div>
          <div class="input">
            <span class="title-item">
              <label>City:</label>
            </span>
            <input
              class="input-item"
              type="text"
              placeholder="Enter your city"
              value="<%=user.city %>"
              name="city"
            />
          </div>
          <div class="add-user">
            <button class="btn btn-add">Delete</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
