<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend with Nodejs</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    Hello world!
    <div>
      <img class="img" src="/images/xu nè (1).jpg" />
    </div>
  </body>
</html>
